.DS_Store
**/.DS_Store
**/.Rhistory
**/.Rdata
**/*.RDAT
**/*.pdf
**/*.png
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.ttt
*.fff
MASTERBIB
